/* MAIN PACKAGING */
.main-packaging{
    .container{
        @include grid(repeat(2,1fr),repeat(2,1fr));
        margin-right: auto;
        margin-left: auto;
        .contenedor-packaging{
            @include flex (column,center,center);
            border: none;
            box-shadow: none;
            color: nth($list: $colores, $n: 1);
            padding: 30px 0;
            .row{
                --bs-gutter-x: 1.5rem;
                justify-content: center;
                align-items: center;
                .contenedor-img{
                    img{
                        box-shadow: 0px 0px 7px 0px #222;
                        border-radius: 10px;
                        width: 100%;
                        margin: auto;
                        display: block;
                    }
                }
                .sizecard-font{
                    width: 240px;
                    .card-solopackaging{
                        padding-top: 10px;
                        h2{
                            font-size: 2rem;
                            font-weight: 700;
                        }
                        p{
                            width: 100%;
                            font-size: 1.2rem;
                            font-weight: 400;
                        }
                        .boton-info{
                            background-color: nth($list: $colores, $n: 1);
                            color: nth($list: $colores, $n: 2);
                            --bs-btn-border-color: none;
                            &:hover{
                                background-color: nth($list: $colores, $n: 3);
                                border-color: nth($list: $colores, $n: 3);
                                color: nth($list: $colores, $n: 1);
                            }
                        }
                    }
                }
            }
        }
    }
}