/* MAIN NOSOTROS */
.main-nosotros{
    .sobre-nosotros{
        @include flex (column,center,center);
        gap: 10px;
        padding: 25px 0;
        div{
            .img-nosotros{
                width: 60%;
                padding: 0 15px;
                margin: 0 auto;
                div{
                    img{
                        width: 100%;
                        margin: 0 auto;
                        border-radius: 8px;
                        box-shadow: 0px 0px 7px 0px #222;
                    }
                }
            }
        }
        .texto-presentacion{
            @include flex (column,center,flex-start);
            margin: auto;
            width: 60%;
            padding: 10px;
            row-gap: 24px;
            margin-top: 10px;
            h2{
                font-weight: 700;
                font-size: 2rem;
            }
            h3{
                font-weight: 500;
                font-size: 1.5rem;
            }
            p{
                font-weight: 400;
                font-size: 1.2rem;
                padding-right: 20px;
                text-align: justify;
                margin-bottom: 0;
                span{
                    font-weight: 700;
                }
            }
            .link-contacto{
                @extend %estilos-botones;
                font-size: 1.2rem;
                width: 100%;
                &:hover{
                    background: nth($list: $colores, $n: 3);
                    border-color: nth($list: $colores, $n: 3);
                    color: nth($list: $colores, $n: 1);
                }
            }
        }
    }
}