/* MAIN PRODUCTOS */
.main-productos{
    section{
        .grilla-productos{
            @include grid(repeat(4, 1fr), 1fr);
            align-items: center;
            justify-content: center;
            margin: 2rem;
            padding: 2rem;
            .card{
                box-shadow: 2px 4px 10px 0px #222;
                justify-self: center;
                width: 77%;
                height: 100%;
                .card-body{
                    h2{
                        font-size: 1.3rem;
                        font-weight: 600;
                        width: 77%;
                    }
                    p{
                        font-size: 1rem;
                        font-weight: 400;
                        width: 100%;
                    }
                    .boton-info{
                        @extend %estilos-botones;
                        font-size: 0.8rem;
                        font-weight: 400;
                        border-radius: 5px;
                        border: none;
                        &:hover{
                            background-color: nth($list: $colores, $n: 3);
                            border-color: nth($list: $colores, $n: 3);
                            color: nth($list: $colores, $n: 1);
                        }
                    }
                }
            }
        }
    }
    .productos-desarrollo{
        h2{
            font-weight: 500;
            text-align: center;
            font-size: 2rem;
            padding-top: 35px;
        }
        .slider-productos{
            @include flex (row,center,center);
            padding: 25px 0;
            margin-bottom: 42px;
            .tamaño-slider{
                width: 70%;
                --swiffy-slider-item-count: 4;
                .slider-container{
                    li{
                        .mi-card{
                            box-shadow: none;
                        }
                    }
                }
                .slider-nav{
                    visibility: visible;
                }
            }
        }
    }
}
