/* RESET */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* ESTILOS GENERALES */
html{
    font-size: 62.5%;
}
body{
    font-family: "poppins", sans-serif;
    font-style: normal;
}
h1{ 
    font-weight: 600;
    text-align: center;
    font-size: 2.5rem;
    padding-top: 35px;
}